<footer class="footer">
  <div class="wrap wide">
    <div class="inner pt3 pb3 text-center">
      &copy; The Linux Foundation - <a rel="nofollow" href="https://training.linuxfoundation.org"
        target="_blank">Visit
        website</a>
    </div>
  </div>
</footer>

<div class="seed" style="position: fixed;">
  <svg width="850" height="850" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img">
    <g fill="none" fill-rule="evenodd">
      <g fill-rule="nonzero">
        <path d="M48 4v44H34.633v-8.911h4.456V12.91H12.91v4.456H4V4z" fill="#043765" fill-opacity="0.6"/>
        <path d="M13.095 21v17.905H31V48H4V21z" fill="#1f9bde" fill-opacity="0.6"/>
      </g>
      <path d="M0 0h52v52H0z"/>
    </g>
  </svg>
</div>



</main>

<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FCTVN3M9N0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FCTVN3M9N0');
</script>
</body>

</html>